body{
    
    margin-top: 0px;
    background-image: url('background.jpg');
    background-size: cover;
}
h2,form{
    text-align: center;
    padding: 8px;
}

button{
    color: black;
}
.container{
    border: 0.5px solid black;
    width: 404px;
    height: 402px;
    margin: auto;
    background-color: #ccc;
}
.msg{
    text-align: center;
    color: red;
}
.submitted{
    text-align: center;
    color: green;;
}
input{
    height: 19px;
    width: 280px;
    padding: 3px;
    color: black;
}

#data{
    height: auto;
    width: auto;
}
.btn{
    background-color: red;
}
 